/* ====================
  共通
  ==================== */

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


/* ====================
  <header></header>
  ==================== */

/* ===== <nav></nav> */
header nav ul {
  display: flex;
}


/* ====================
  <main></main>
  ==================== */

main > section {
  display: flex;
}

main > div {
  display: flex;
}

/* ===== <section></section> */

/*
  ピックアップ
*/

/*
  記事
*/

/*
  記事に関連
*/


/* ====================
  <footer></footer>
  ==================== */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "abotu menu x-publish"
    "copyright";
}

.about-list li::before {
  content: "▶";
}




/* ==================== ====================
  レスポンシブ
  ==================== ==================== */

@media (max-width: 0px) {

}