/* ====================
  共通
  ==================== */

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


/* ====================
  <header></header>
  ==================== */


/* ====================
  <main></main>
    <section></sectionv
  ==================== */

/* ===== <section></section> ===== */

/*
  details
*/


/* ====================
  <footer></footer>
  ==================== */



/* ==================== ====================
  レスポンシブ
  ==================== ==================== */

@media (max-width: 0px) {

}